*{
    margin:0;
    padding:0;
}

h2{
    background-color: orange;
}

body {
    background-color: black;
    color: #f0f0f0;
    font-family: sans-serif;
}

#box{
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.checkbox {
    margin: 10px 0;
    padding-left: 200px;
}

#buttons{
    height:50px;
    width:100%;
    background-color: orange;
    text-align-last: center;
}

#sub{
    height:30px;
    width:60px;
    margin:10px;
    background-color: green;
}

#can{
    height:30px;
    width:60px;
    margin:10px;
    background-color: red;
}

.form{
    background-color: black;
}